<h2>SINGLE Monsters</h2>

<p class="monster-name-test">Name: {{model.name}}</p>
<p class="health-test">Health: {{model.health}}</p>
<p class="damage-test">Damage: {{model.damage}}</p>
<p class="computed-health-test">Remaining: {{model.computedHealth}}</p>

<hr>

{{#link-to 'monsters.monster.edit' class="monster-edit-test"}}EDIT Monster{{/link-to}}
